@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* This ensures that the body is at least the height of the viewport */
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Lato', serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the app container takes at least the height of the viewport */
}

main {
  flex: 1; /* This will make the main content grow to fill any available space */
}

footer {
  width: 100%;
}

